[run]
# Ignora archivos o directorios específicos
omit =
    */migrations/*
    */views.py
    /test_views/
    Reports/urls.py
    Reports/forms.py
    Payments/urls.py
    NextTask/wsgi.py
    Messaging/routing.py
    Messaging/forms.py
