asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
crispy-bootstrap4==2024.1
cryptography==43.0.1
defusedxml==0.8.0rc2
Django==5.1
django-countries==7.6.1
django-crispy-forms==2.3
django-extensions  # from development
django-quill-editor  # from development
django-select2  # from development
Faker==12.0.1
idna==3.10
iniconfig==2.0.0
mixer==7.2.2
oauthlib==3.2.2
packaging==24.1
pluggy==1.5.0
psycopg2==2.9.9
psycopg2-binary  # from development
pycparser==2.22
PyJWT==2.9.0
pytest==8.3.3
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
Pillow
pytest-django
pytest
mixer
django-translations