{% extends 'NextTask/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <title>{% trans "Signup - NextTask" %}</title>    
    <div class="signup-banner" style="position: relative; text-align: left; overflow: hidden; height: 300px; width: 100%;">
        <img src="{% static 'img/others/freelancer.png' %}" alt="Signup Banner" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1 style="color: white; position: absolute; top: 70%; left: 2%; transform: translateY(-50%); font-size: 55px; z-index: 2;">{% trans "Sign up" %}</h1>
    </div>

    <!-- Signup Form for Clients -->
    <div class="container">
        <section class="py-110 bg-offWhite">
            <div class="container">
                <div class="mb-5" style="margin-top: -60px;">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="d-flex align-items-center gap-3">
                                <a href="{% url 'register_freelancer' %}" class="w-form-btn-outline">{% trans "Freelancer" %}</a>
                                <a href="{% url 'client_signup' %}" class="w-form-btn">{% trans "Client" %}</a>
                            </div>                        
                        </div>
                    </div>
                </div>

                <div class="bg-white rounded-3 p-3">
                    <div class="row g-4">
                        <div class="col-lg-6 p-3 p-lg-5">
                            <div class="mb-40">
                                <h2 class="section-title mb-2">{% trans "Client Sign up" %}</h2>
                                <p class="section-desc">{% trans "Welcome to NexTask" %}</p>
                            </div>

                            <!-- Error handling -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <p>{% trans "Please correct the following errors:" %}</p>
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ field.label }}: {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <!-- Signup Form -->
                            <form method="POST" action="{% url 'client_signup' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-container">
                                    <div class="row gy-3">
                                        <div class="form-input col-lg-6">
                                            <label for="username" class="form-label">{% trans "Username" %}<span class="text-lime-300">*</span></label>
                                            <input type="text" class="form-control shadow-none" id="username" name="username" placeholder={% trans "Username" %} required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="email" class="form-label">{% trans "Email" %}<span class="text-lime-300">*</span></label>
                                            <input type="email" class="form-control shadow-none" id="email" name="email" placeholder="Email" required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="first_name" class="form-label">{% trans "First Name" %}<span class="text-lime-300">*</span></label>
                                            <input type="text" class="form-control shadow-none" id="first_name" name="first_name" placeholder={% trans "First Name" %} required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="last_name" class="form-label">{% trans "Last Name" %}<span class="text-lime-300">*</span></label>
                                            <input type="text" class="form-control shadow-none" id="last_name" name="last_name" placeholder={% trans "Last Name" %} required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="company_name" class="form-label">{% trans "Company Name" %}<span class="text-lime-300">*</span></label>
                                            <input type="text" class="form-control shadow-none" id="company_name" name="company_name" placeholder={% trans "Company Name" %}required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="company_website" class="form-label">{% trans "Company Website" %}</label>
                                            <input type="url" class="form-control shadow-none" id="company_website" name="company_website" placeholder={% trans "Company Website" %} />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="avatar" class="form-label">{% trans "Profile Picture" %}</label>
                                            <input type="file" class="form-control shadow-none" id="avatar" name="avatar" />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="country" class="form-label">{% trans "Country" %}<span class="text-lime-300">*</span></label>
                                            {{ form.country }}
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="city" class="form-label">{% trans "City" %}<span class="text-lime-300">*</span></label>
                                            <input type="text" class="form-control shadow-none" id="city" name="city" placeholder={% trans "City" %} required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="phone" class="form-label">{% trans "Phone" %}</label>
                                            <input type="text" class="form-control shadow-none" id="phone" name="phone" placeholder={% trans "Phone" %} />
                                        </div>
                                        <div class="form-input col-lg-12">
                                            <label for="address" class="form-label">{% trans "Address" %}</label>
                                            <input type="text" class="form-control shadow-none" id="address" name="address" placeholder={% trans "Address" %}/>
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="password1" class="form-label">{% trans "Password" %}<span class="text-lime-300">*</span></label>
                                            <input type="password" class="form-control shadow-none" id="password1" name="password1" placeholder={% trans "Password" %} required />
                                        </div>
                                        <div class="form-input col-lg-6">
                                            <label for="password2" class="form-label">{% trans "Confirm Password" %}<span class="text-lime-300">*</span></label>
                                            <input type="password" class="form-control shadow-none" id="password2" name="password2" placeholder={% trans "Password" %} required />
                                        </div>
                                    </div>

                                    <!-- Social Media Login -->
                                    <div class="d-flex gap-3 justify-content-center align-items-center social-login mt-4">
                                            
                                    </div>
                                    <div class="d-grid mt-4">
                                        <button href="{% url 'social:begin' 'google-oauth2' %}" class="w-btn-secondary-lg" type="submit" id="submit-btn">{% trans "Create Account" %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6">
                            <div class="login-img">
                                <img src="{% static 'img/others/1.png' %}" class="img-fluid w-100" alt="Signup Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Script to prevent multiple form submissions -->
    <script>
        document.querySelector('form').addEventListener('submit', function() {
            const submitButton = document.getElementById('submit-btn');
            submitButton.disabled = true;  // Disable the button after click to prevent multiple submissions
        });
    </script>
{% endblock %}
