{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Registro de Educación</h2>
    <form method="POST">
        {% csrf_token %}
        {{ education_formset.management_form }}
        
        <div id="education-form-container">
            {% for form in education_formset %}
                <div class="dynamic-form">
                    {{ form|crispy }}  <!-- Crispy tag to render each formset -->
                </div>
            {% endfor %}
        </div>

        <button type="button" class="btn btn-secondary" onclick="addFormset('education_formset')">Añadir más educación</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
