{% extends 'Users/baseFreelancer.html' %} {% load static %} {% block content %}
<title>Freelancer Dashboard</title>
<!-- Page Header -->
<div
  class="d-flex gap-4 flex-column flex-md-row align-items-md-center justify-content-between"
>
  <div>
    <h3 class="text-24 fw-bold text-dark-300 mb-2">Dashboard</h3>
    <ul class="d-flex align-items-center gap-2">
      <li class="text-dark-200 fs-6">Dashboard</li>
    </ul>
  </div>
  <div>
    <a href="" class="w-btn-secondary-lg">
      Post a job</a
    >
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div
      class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
    >
      <div>
        <h3 class="dashboard-widget-title fw-bold text-dark-300">$52</h3>
        <p class="text-18 text-dark-200">Total Balance</p>
      </div>
      <div class="dashboard-widget-icon">
        <img src="{% static 'img/dashboard/icon/icon-1.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div
      class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
    >
      <div>
        <h3 class="dashboard-widget-title fw-bold text-dark-300">50</h3>
        <p class="text-18 text-dark-200">Total Job</p>
      </div>
      <div class="dashboard-widget-icon">
        <img src="{% static 'img/dashboard/icon/icon-2.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div
      class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
    >
      <div>
        <h3 class="dashboard-widget-title fw-bold text-dark-300">35</h3>
        <p class="text-18 text-dark-200">Complete Order</p>
      </div>
      <div class="dashboard-widget-icon">
        <img src="{% static 'img/dashboard/icon/icon-3.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div
      class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
    >
      <div>
        <h3 class="dashboard-widget-title fw-bold text-dark-300">02</h3>
        <p class="text-18 text-dark-200">Active Order</p>
      </div>
      <div class="dashboard-widget-icon">
        <img src="{% static 'img/dashboard/icon/icon-4.png' %}" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Content -->
<div>
  <h3 class="text-24 fw-bold text-dark-300 mb-2">Latest Jobs</h3>
  <!-- Table -->
  <div class="overflow-x-auto">
    <div class="w-100">
      <table class="w-100 dashboard-table">
        <thead class="pb-3">
          <tr>
            <th scope="col" class="ps-4">Project Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Days</th>
            <th scope="col" class="text-end pe-5">Actions</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
