{% extends 'NextTask/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <section class="py-110 bg-offWhite">
        <div class="container bg-white rounded-3 p-3">
            <h2 class="section-title mb-2">Registro de Idiomas</h2>
            <form method="POST" id="languageForm">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-grid mt-4">
                    <div class="d-flex justify-content-between">
                      
                        <a href="{% url 'register_languages' %}" class="btn btn-outline-secondary">Previous</a>
                        
                        <button type="submit" formaction="{% url 'home_freelancer' %}" class="w-btn-secondary-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}
