{% extends 'NextTask/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <title>Reset Password - NextTask</title>   
    <main>
        <section class="py-110 bg-offWhite">
          <div class="container">
            <div class="bg-white rounded-3 p-5 shadow-sm" style="max-width: 650px; margin: 0 auto;">
              <!-- Header -->
              <div class="text-center mb-40">
                <h2 class="section-title mb-2">{% trans "Reset your Password" %}</h2>
                <p class="section-desc">{% trans "Please enter your new password below." %}</p>
              </div>

              <!-- Reset Password Form -->
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- Submit Button -->
                <button type="submit" id="submit-btn" class="custom-btn w-100 py-3">{% trans "Reset Password" %}</button>
              </form>
            </div>
          </div>
        </section>
    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
