{% extends 'NextTask/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <title>Verify Code - NextTask</title>   
    <main>
        <section class="py-110 bg-offWhite">
          <div class="container">
            <div class="bg-white rounded-3 p-5 shadow-sm" style="max-width: 650px; margin: 0 auto;">
              <!-- Header -->
              <div class="text-center mb-40">
                <h2 class="section-title mb-2">{% trans "Verify your Code" %}</h2>
                <p class="section-desc">{% trans "Please enter the verification code we sent to your email." %}</p>
              </div>

              <!-- Verification Code Form -->
              <form method="post">
                {% csrf_token %}
                
                <!-- Verification Code Input -->
                <div class="mb-3">
                  <input type="text" id="verification_code" name="verification_code" class="form-control shadow-none" required placeholder="{% trans 'Enter the verification code' %}">
                </div>

                <br>
                <!-- Submit Button -->
                <button type="submit" id="submit-btn" class="custom-btn w-100 py-3" style="border-radius: 50px; background-color: #4CAF50; color: white; border: none;">
                  {% trans "Verify Code" %}
                </button>
              </form>
            </div>
          </div>
        </section>
    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom CSS for styling -->
    <style>
      /* Estilo para los campos de entrada con bordes redondeados */
      input {
        border-radius: 50px; /* Bordes redondeados */
        border: 1px solid #ccc;
        padding: 16px 24px; /* Espacio interno más grande */
        width: 100%; /* Que ocupe el 100% del contenedor */
        box-sizing: border-box; /* Incluir padding y borde en el tamaño total del campo */
      }

      /* Estilo para el botón */
      .custom-btn {
        background-color: #4CAF50; /* Color personalizado */
        border: none;
        color: white;
        transition: background-color 0.3s ease;
        padding: 12px 0; /* Más padding para agrandar el botón */
        border-radius: 50px; /* Hacer el botón redondeado */
      }
      
      .custom-btn:hover {
        background-color: #45a049; /* Color cuando el mouse pasa por encima */
      }
    </style>
{% endblock %}
