{% extends 'Users/baseClient.html' %}
{% load static %}
{% block content %}
<head>
    <!-- django-quill-editor Media -->
    {% include 'django_quill/media.html' %}
</head>
<div>
    <h3 class="text-24 fw-bold text-dark-300 mb-2">Edit Project: {{ project.title }}</h3>
</div>

<!-- Form Section -->
<div class="row justify-content-center">
    <div class="col-xl-8">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex flex-column gap-4">
                <!-- Project Info -->
                <div class="gig-info-card">
                    <div class="gig-info-header">
                        <h4 class="text-18 fw-semibold text-dark-300">Project Info</h4>
                    </div>
                    <div class="gig-info-body bg-white">
                        <div class="row g-4">
                            <!-- Título -->
                            <div class="col-12">
                                <div class="form-container">
                                    <label for="id_title" class="form-label">Project Title <span class="text-lime-300">*</span></label>
                                    <input type="text" class="form-control shadow-none" name="title" id="id_title" value="{{ form.title.value|default_if_none:'' }}">
                                    {% if form.title.errors %}
                                        <div class="error text-danger">{{ form.title.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de inicio -->
                            <div class="col-md-6">
                                <div class="form-container">
                                    <label for="id_start_date" class="form-label">Start Date</label>
                                    {{ form.start_date }}
                                    <div id="start-date-error" class="error text-danger"></div>
                                    {% if form.start_date.errors %}
                                        <div class="error text-danger">{{ form.start_date.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de vencimiento -->
                            <div class="col-md-6">
                                <div class="form-container">
                                    <label for="id_due_date" class="form-label">Due Date</label>
                                    {{ form.due_date }}
                                    <div id="due-date-error" class="error text-danger"></div>
                                    {% if form.due_date.errors %}
                                        <div class="error text-danger">{{ form.due_date.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Presupuesto -->
                            <div class="col-md-6">
                                <div class="form-container">
                                    <label for="id_budget" class="form-label">Budget</label>
                                    <input type="text" class="form-control shadow-none" name="budget" id="id_budget" value="{{ form.budget.value|default_if_none:'' }}">
                                    <div id="budget-error" class="error text-danger"></div>
                                    {% if form.budget.errors %}
                                        <div class="error text-danger">{{ form.budget.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Descripción usando Quill -->
                            <div class="col-12">
                                <label for="id_description" class="form-label">Description*</label>
                                {{ form.description }}  <!-- Renderiza el campo de Quill aquí -->
                            </div>
                            {% if form.description.errors %}
                                <div class="error text-danger">{{ form.description.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Botón de enviar -->
                <div class="button-group">
                    <button type="submit" class="w-btn-secondary-lg">
                        Save Changes
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                            <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <a href="{% url 'project_detail' project.id %}" class="w-btn-danger-lg">
                        Cancel
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                            <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .ql-container {
        border: 2px solid #ccc;
        border-radius: 10px;
        min-height: 300px;
        padding: 10px;
    }

    .ql-editor {
        min-height: 280px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
</style>

<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        const startDate = new Date(document.getElementById('id_start_date').value);
        const dueDate = new Date(document.getElementById('id_due_date').value);
        const today = new Date();
        const budget = parseFloat(document.getElementById('id_budget').value);

        // Limpieza de mensajes previos
        document.getElementById('start-date-error').textContent = '';
        document.getElementById('due-date-error').textContent = '';
        document.getElementById('budget-error').textContent = '';

        // Validación de la fecha de inicio
        if ((startDate+2) <= (today-2)) {
            document.getElementById('start-date-error').textContent = 'The start date cannot be in the past.';
            event.preventDefault();
        }

        // Validación de la fecha de vencimiento
        const minDueDate = new Date(startDate);
        minDueDate.setMonth(minDueDate.getMonth() + 1);
        if (dueDate <= minDueDate) {
            document.getElementById('due-date-error').textContent = 'The due date must be at least one month after the start date.';
            event.preventDefault();
        }

        // Validación del presupuesto
        if (budget < 0) {
            document.getElementById('budget-error').textContent = 'The budget cannot be negative.';
            event.preventDefault();
        }
    });
</script>


{% endblock %}
