{% extends 'Users/baseClient.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<style>
    .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 5px;
        transition: background-color 0.3s;
    }
    .button-accept {
        background-color: #4CAF50;
        color: white;
    }
    .button-accept:hover {
        background-color: #45a049;
    }
    .button-cancel {
        background-color: #f44336;
        color: white;
    }
    .button-cancel:hover {
        background-color: #d32f2f;
    }
</style>


<div class="text mt-4">
    <a href="{% url 'project_detail' project.id %}" class="w-btn-danger-lg"> {% trans "Back" %} </a>
</div>

<div>
    <h3 class="text-24 fw-bold text-dark-300 mb-2">{% trans "Manage Applications for Project:" %} {{ project.title }}</h3>
    <div class="overflow-x-auto">
        <div class="w-100">
            <table class="w-100 dashboard-table">
                <thead class="pb-3">
                    <tr>
                        <th scope="col" class="ps-4">{% trans "Freelancer" %}</th>
                        <th scope="col">{% trans "Full Name" %}</th>
                        <th scope="col">{% trans "Phone" %}</th>
                        <th scope="col">{% trans "Email" %}</th>
                        <th scope="col">{% trans "Status" %}</th>
                        <th scope="col" class="text-end pe-5">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td onclick="window.location.href='{% url 'view_freelancer_profile_manage' project.id application.freelancer.user.id %}'" style="cursor: pointer;">
                            <div class="d-flex gap-3 align-items-center project-name">
                                <div class="rounded-3">
                                    {% if application.freelancer.avatar %}
                                        <img
                                            src="{{ application.freelancer.avatar.url }}"
                                            class="rounded-circle"
                                            alt="{{ comment.author.username }}"
                                            width="50"
                                            height="50"
                                        />
                                        {% else %}
                                        <img
                                            src="{% static 'img/defaultFreelancerProfileImage.jpg' %}"
                                            class="rounded-circle"
                                            alt="{{ comment.author.username }}"
                                            width="50"
                                            height="50"
                                        />
                                    {% endif %}
                                </div>
                                <div>
                                    <p class="text-dark-200">{{ application.freelancer.user.username }}</p>
                                </div>
                            </div>
                        </td>
                        <td onclick="window.location.href='{% url 'view_freelancer_profile_manage' project.id application.freelancer.user.id %}'" style="cursor: pointer;" class="text-dark-200">
                            {{ application.freelancer.user.first_name }} {{ application.freelancer.user.last_name }}
                        </td>
                        <td onclick="window.location.href='{% url 'view_freelancer_profile_manage' project.id application.freelancer.user.id %}'" style="cursor: pointer;" class="text-dark-200">
                            {{ application.freelancer.phone }}
                        </td>
                        <td onclick="window.location.href='{% url 'view_freelancer_profile_manage' project.id application.freelancer.user.id %}'" style="cursor: pointer;" class="text-dark-200">
                            {{ application.freelancer.user.email }}
                        </td>
                        <td onclick="window.location.href='{% url 'view_freelancer_profile_manage' project.id application.freelancer.user.id %}'" style="cursor: pointer;" class="text-dark-200">
                           {% trans "Pending" %}
                        </td>
                        <td>
                            <div class="d-flex justify-content-end gap-2">
                                <form method="post" class="d-inline-block">
                                    {% csrf_token %}
                                    <input type="hidden" name="application_id" value="{{ application.id }}">
                                    <button type="submit" name="action" value="accept" class="button button-accept">
                                        {% trans "Accept" %}
                                    </button>
                                    <button type="submit" name="action" value="reject" class="button button-cancel">
                                        {% trans "Reject" %}
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">{% trans "No applications available." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
