{% extends 'Users/baseClient.html' %}
{% load static %}

{% block content %}
<head>
    <!-- django-quill-editor Media -->
    {% include 'django_quill/media.html' %}
</head>

<div>
    <h2>{{ project.title }}</h2>
    <p><strong>Presupuesto:</strong> ${{ project.budget }}</p>
    <p><strong>Fecha de inicio:</strong> {{ project.start_date }}</p>
    <p><strong>Fecha de vencimiento:</strong> {{ project.due_date }}</p>
    <p><strong>Fecha de finalización real:</strong> {{ project.actual_end_date|default:"No disponible" }}</p>
    <div>
        <strong>Descripción:</strong>
        <div>{{ project.description.html|safe }}</div>
      </div>
    
    <a href="{% url 'home_client' %}">Volver al panel</a>
</div>

{% endblock %}
