{% extends 'Users/baseFreelancer.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<head>
    <!-- django-quill-editor Media -->
    {% include 'django_quill/media.html' %}

    <style>
        .quill-content {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            overflow: hidden;
            max-width: 100%;
        }

        .quill-content img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    </style>
</head>

<!-- Page Header -->
<div>
    <h3 class="text-24 fw-bold text-dark-300 mb-2">{% trans "Task Details:" %} {{ task.title }}</h3>
    <ul class="d-flex align-items-center gap-2">
        <li class="text-dark-200 fs-6">{% trans "Dashboard" %}</li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="11" viewBox="0 0 5 11" fill="none">
                <path d="M1 10L4 5.5L1 1" stroke="#5B5B5B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </li>
        <li class="text-lime-300 fs-6">{% trans "Task Details" %}</li>
    </ul>
</div>

<!-- Task Info -->
<div class="row justify-content-center">
    <div class="col-xl-8">
        <div class="d-flex flex-column gap-4">
            <!-- Task Info Card -->
            
            {% include 'Projects/task_info_view.html' %}

            <div class="text mt-4">
                <div class="button-group">
                    <a href="{% url 'milestone_detail_freelancer' task.milestone.id %}" class="w-btn-danger-lg">{% trans "Back" %}</a>
                    <a href="{% url 'edit_task_freelancer' task.id %}" class="w-btn-secondary-lg">{% trans "Edit" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sección de Comentarios -->
{% include 'Comments/comments_section.html' %}

{% endblock %}
