{% extends 'Users/baseFreelancer.html' %}
{% load i18n %}

{% block content %}

<div>
    <h3 class="text-24 fw-bold text-dark-300 mb-2">{% trans "Notifications" %}</h3>
    <div class="overflow-x-auto">
        <div class="w-100">
            <table class="table table-striped table-hover dashboard-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="ps-4">{% trans "Message" %}</th>
                        <th scope="col">{% trans "Date" %}</th>
                        <th scope="col" class="text-end pe-5">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td>
                            <p class="text-dark-200 mb-0">
                                {{ notification.message }}
                            </p>
                        </td>
                        <td class="text-dark-200">
                            {{ notification.created_at|date:"SHORT_DATETIME_FORMAT" }}
                        </td>
                        <td>
                            <div class="d-flex justify-content-end gap-2">
                                <form method="post" class="d-inline-block" action="{% url 'mark_as_read' notification.id %}">
                                    {% csrf_token %}
                                    <button type="submit" name="action" value="mark_read" class="btn btn-success">
                                        {% trans "Mark as Read" %}
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">{% trans "No notifications available." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}